@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

html,body {
    height: 100%;
}

p {
    font-size: 0.8em;
    
}

texto2 {
    display: inline-block;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 2.8vw;
}

texto1 {
    display: inline-block;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 3.2em;
}

.btn {
    border: 0;
    outline: 0;
    padding: 2.3% 5%;
    background-color: #1F1F1F;
    font-size: 1em;
    color: #ffffff;
    border-radius: 18px;
    cursor: pointer;
}

#topo {
    height: 10%;
    background-color: #1F1F1F;
}


#content-container {
    width: 100%;
    height: 90%;
}

#content-container #content-1 {
    width: 100%;
    height: 100%;
    display: flex;
}

#content-container #content-1 .aside-dinamic-form {
    width: 65%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    height: 90%;
    right: 0;
    top: 10%;
    z-index: 1;
}

/* Parte 1: Card*/
#content-container #content-1 .content-div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F3E5E4;
    width: 35%;
}

#content-container #content-1 .content-div:first-child #texto {
    width: 60%;
    margin-bottom: 10%;
}

#content-container #content-1 .content-div:first-child #card-container {
    width: 75%;
    padding: 7% 0;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
                -20px -20px 60px #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    
}

#content-container #content-1 .content-div:first-child #card-container .icon-user {
    width: 12vw;
    height: 12vw;
    object-fit: cover;
}

.icon-campo-focusout {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#content-container #content-1 .content-div:first-child #card-container #card-info-container {
    text-align: center;
    gap: 56px;
}

#content-container #content-1 .content-div:first-child #card-container #card-info-container .card-info-digitada {
    height: 3vh;
}

#content-container #content-1 .content-div:first-child #card-container #card-info-container #container-nome .nome{
    display: inline-block;
}

#text-container1 {
    width: 100%;
    text-align: center;
}

#text-container1 p {
    width: 50%;
    margin: 0 auto;
    text-align: left;
}

/*==========================================================================================================*/

/* Parte 2: cadastrar dados pessoais */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 4vh;
}

#content-container #content-1 .content-div:nth-child(2) .container p {
    width: 80%;
}

.form {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:  4.5vh;
    
}

.form p, .form a {
    width: 100%;
}


#inline {
    display: inline !important;
}

.aside-dinamic-form .form-group {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    position: relative;
    gap: 6vh;
    width: 100%;
}

.aside-dinamic-form .form-group input {
    width: 100%;
    
    height: 5vh;
    border: 0;
    border-bottom: 1px solid #1F1F1F;
    font-size: 1vw;
}

.aside-dinamic-form .form-group label {
    cursor: text;
    width: 100%;
    color: #1F1F1F;
    background-color: #ffffff;
    /*
    position: absolute;
    top: -25%;
    left: 5%;
    */
    transition: 270ms linear;
    position: absolute;
    top: 0;
    font-size: 2vh;
}

.aside-dinamic-form .form-group input:focus {
    border: 0;
    outline: 0;
    border-bottom: 1px solid black;
}

.aside-dinamic-form .form-group input:focus ~ label {
    position: absolute;
    top: -45%;
    color: #000000;
    font-size: 2vh;
}

.aside-dinamic-form .form-group input:valid ~ label {
    top: -45%;
    color: #000000;
    font-size: 2vh;
}

.aside-dinamic-form #form-dadosPessoais #possuiConta {
    display: none;
}

/* Cadastro: parte das credenciais */
#content-2{
    overflow-x: hidden;
    width: 65%;
    position: absolute;
    right: 0;
    top: 10%;
    z-index: 0;
    width: 100%;
}

#content-2 .container {
    
}

#content-2 .container texto1 {
    text-align: center;
}

#content-2 #form-dadosPessoais .form-group {
    gap: 8%;
    justify-content: start;
    align-items: start;
}

#content-2 #form-dadosPessoais #form-group-password {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 2%;
}

#content-2 #form-dadosPessoais {
    
}

.back-button-container {
    margin: 2% 0 0 5%;
    width: 100%;
}

#texto2 texto1 {
    
}

.back-button {
    cursor: pointer;
    width: 4%;
}

.esconder {
   display: none !important;
   background-color: aqua !important;
}

#requirements-align {
    width: 100%;
}

#requirements-container {
    transition: 2s linear;
}

#confirmarSenhaContainer {
    margin-top: -5%;
}

.confirmarSenhaContainerBaixo {
    margin-top: 0;
}

#requirements-align, #send2 {
    margin-bottom: 4vh;
}




#requirements-container ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.requirements {
    display: flex;
    gap: 1vw;
    align-items: center;
}

.check-passsword-icon {
    width: 6%;
}


/* layout PC */

@media screen and (min-width:1280px) {
    
}



/* Layout Mobile */

@media screen and (max-width: 980px){

    texto1 {
        margin-top: 5%;
    }



    /* Parte 2: Formulário Dados Pessoais */
    #content-container #content-1 .content-div:nth-child(2) .container p {
        font-size: 2vh;
    }

    #content-container #content-1 .content-div:nth-child(2) .container #termos {
        width: 100%;
        text-align: center;
    }
    
    #content-container #content-1 .content-div, #content-2 {
        width: 100%;
    }

    #content-2 .form{
        width: 95%;
    }

    #content-2 #form-dadosPessoais #form-group-password {
        flex-direction: column;
        gap: 9vh;
    }


    .content-div:nth-child(2) .form-group input {
        font-size: 2.5vh;
    }

    .content-div:nth-child(2) .form {
        position: relative;
        width: 90%;
        margin: 3% 0;
    }


    .content-div:nth-child(2) #form-dadosPessoais #possuiConta {
        display: block;
        position: absolute;
        left: 0vw;
        top: 110%;
    }

    .content-div :nth-child(2) span, #card-container {
        display: none;
    }

}

@media screen and (max-width: 480px){ 
    texto1 {
        font-size: 2em;
    }

}
